/* estilos del contenedor de las cartas */
.containerCardTec {
    width: 100%;
    border: 2px solid var(--color-border);
    border-radius: 10px;
    transition: .3s;
}

@media (min-width: 700px) {
    .containerCardTec{
        min-height: 145px;
    }
    
}

@media (min-width: 800px) {
    .containerCardTec{
        min-height: 125px;
    }
    
}

@media (min-width: 900px) {
    .containerCardTec{
        min-height: 125px;
    }
    
}

.containerCardTec:hover{
    transform: translateY(-5px);
}

/* estilos del titulo */
.h4 {
    font-family: var(--font-montserrat);
    color: var(--color-border);
    font-weight: 400;
    width: 100%;
    text-align: center;
    margin: 5px 0;
}

/* estilos del hr */
.hr {
    width: 100%;
    border: none;
    outline: 1px solid var(--color-border);
}

/* estilos del parrafo */
.p {
    font-family: var(--font-montserrat);
    color: var(--color-border);
    font-weight: 300;
    padding: 8px;
    line-height: 20px;
    cursor: default;
}